<!DOCTYPE html>

<head>
    <title>Login page</title>
</head>

<body>
    <div class="form">
        <form action="../ValidationControllers/login.php" method="POST">
            <div class="input">
                <div>
                    <label for="email">
                        Email:
                    </label>
                    <input type="text" name="email" required>
                </div>

                <div>
                    <label for="password">
                        Password:
                        <input type="password" name="password" required>
                </div>

                <div>
                    <input type="submit" name="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>

</html>